<!DOCTYPE html>
<html lang="nl">
   <head>
      <title>Occasies &amp; Vintage | Blazers &amp; Blazers</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href='https://fonts.googleapis.com/css?family=Tinos:400,700italic,700,400italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,300italic,600italic,700,700italic' rel='stylesheet'>
      <link rel="stylesheet" href="../css/generic.css" />
      <link rel="stylesheet" href="../css/screen.css" />
		<link rel="stylesheet" href="../css/fonts.css" />
      <link rel="stylesheet" href="../css/occasies.css" />
      <style type="text/css">
         #banner_container img {
	         max-width: 100%;
         }
      </style>
   </head>
   <body>
      <div id="wrapper">
         <header>
            <div class="col clearfix">
               <div id="langmenu_wrapper">
                  <ul id="langmenu" class="horizontal-menu">
                     <li id="fb"><a href="#"><img src="../images/fb50.png" alt="fb logo"></a></li>
                     <li id="lnkNieuwsbrief"><a href="#">nieuwsbrief</a></li>
                     <li class="selected"><a href="#">NL</a></li>
                     <li><a href="#">EN</a></li>
                  </ul>
               </div>
               <h1 id="logo"><a href="/">Blazers &amp; Blazers</a></h1>
               <a id="hamburger" href="#" title="open menu">
	               <span class="line1"></span>
	               <span class="line2"></span>
	               <span class="line3"></span>
               </a>
               <nav>
                  <h2 class="structural">main navigation</h2>
                  <ul id="mainmenu">
                     <li>
                        <a href="/nl/" title="Home">Home</a>
                     </li>
                     <li>
                        <a href="/nl/eigen-atelier" title="Herstellingen">Herstellingen</a>
                     </li>
                     <li>
                        <a href="/nl/onze-winkel" title="Winkel">Winkel</a>
                     </li>
                     <li class="selected">
                        <a href="/nl/occasies-vintage" title="Occasies">Occasies</a>
                     </li>
                     <li>
                        <a href="/nl/studio-bricks" title="Studio Bricks">Studio Bricks</a>
                     </li>
                     <li>
                        <a href="/nl/contact" title="Contact">Contact</a>
                     </li>
                  </ul>
               </nav>
            </div>
         </header>
         <section id="banner_container">
            <div class="col">
               <img src="../uploads/bannerfotos/DSC_0049.jpg" alt="" />
            </div>
         </section>
         <section id="content" class="clearfix">
            <div class="col">
               <div>
                  <div class="filters clearfix" id="filters">
                     <label id="lblSearch">zoek op instrument:</label>
                     <select id="ddlHout">
                        <option value="-1">HOUTBLAZERS</option>
                        <option value="all">ALLE</option>
                        <option value="Altklarinet">Altklarinet</option>
                        <option value="Altsax">Altsax</option>
                        <option value="Basklarinet">Basklarinet</option>
                        <option value="Dwarsfluit">Dwarsfluit</option>
                        <option value="Fagot">Fagot</option>
                        <option value="Hobo">Hobo</option>
                        <option value="Klarinet">Klarinet</option>
                        <option value="Sopraansax">Sopraansax</option>
                        <option value="Tenorsax">Tenorsax</option>
                     </select>
                     <select id="ddlKoper">
                        <option value="-1">KOPERBLAZERS</option>
                        <option value="all">ALLE</option>
                        <option value="Alto">Alto</option>
                        <option value="Bastuba">Bastuba</option>
                        <option value="Bugel">Bugel</option>
                        <option value="Cornet">Cornet</option>
                        <option value="Euphonium">Euphonium</option>
                        <option value="Trombone">Trombone</option>
                        <option value="Trompet">Trompet</option>
                     </select>
                     <a href="#" id="lnkAll">bekijk alle occasies</a>
                  </div>
                  <h3 class="separator">occasies</h3>
                  <hr>
                  <div id="houtblazers" class="occasies">
							{% for instrument in instruments %}
                     <div class="item clearfix" data-subtype="Altklarinet">
                        <div class="clearfix">
                           <div class="title">
                              <p>{{ instrument.title }}</p>
                           </div>
                           <div class="left">
                              <div class="images thumbs">
											{% for photo in photos %}
											{% if photo.instrument_id == instrument.id %}
											<p>{{ photo.instrument_id }} + {{ instrument.id }}</p>
	                            	<a href="../uploads/occasies/photos/{{ photo.filename }}" class="photo"><img src="../uploads/occasies/thumbs/{{ photo.filename }}" alt="" /></a>
											{% endif %}
											{% endfor %}
										</div>
                           </div>
                           <div class="right">
                              <p>
                                 {{ instrument.description|striptags }}
                              </p>
                              <p><a href="#" class="contact_us">&gt; contacteer ons voor meer info</a></p>
                           </div>
                        </div>
                     </div>
							{% endfor %}
                  </div>
               </div>
            </div>
         </section>
         <footer>
            <div class="col">
               <div class="logo"><a href="/"><img src="../images/logo.png" alt="logo" /></a></div>
               <p class="address"><span class="line">Einde Were 62 • 9000 Gent</span> <span class="dot">•</span><span class="line"> t +32 (0)9 223 14 28</span> <span class="dot">•</span> <span class="line"><a href="info@blazersenblazers.be">info@blazersenblazers.be</a></span></p>
               <p class="lbl_openinghours">openingsuren</p>
               <p class="msg_openinghours"><span class="line">dinsdag t.e.m. vrijdag: 13u – 17u30</span> <span class="dot">•</span> <span class="line">zaterdag: 13u – 16u30</span> <span class="dot">•</span> <span class="line">of op afspraak</span></p>
               <p class="designed_by">DESIGNED BY <a href="missmoss.be" title="Miss Moss"><img src=../s"images/logo_mismoss.png"></a></p>
            </div>
         </footer>
      </div>
      <script src="../js/jquery.min.js"></script>
      <script src="../js/scripts.js"></script>
      </div>
   </body>
</html>
